<html>
	<head>
		<style>
		</style>
	</head>
	<body>
		<p>Hello World</p>
		<form>
			<input name='words' type='text' />
			<input value='Encrypt' type='submit' />
		</form>
		<p><%= original_text %></p>
	</body>
</html>
