<html>
	<head>
		<style>
			body {
				font-family: Arial;
				text-align: center;
				margin: auto;
				font-size: 16px;
				padding: 10px 10px;
			}
			input, textarea {
				display: block;
				border: solid 1px;
				border-radius: 5px;
				margin: 10px auto;
			}
			textarea {
				margin-bottom: 20px;
			}
			input[name='cipher_number'] {
				width: 50px;
			}
			label {
				font-style: italic;
			}
			input[type='submit'] {
				background-color: rgba(100,100,100,.7);
				border: solid 1px;
				color: white;
				width: 100px;
				height: 30px;
				font-size: 16px;
				margin: 20px auto;
			}
			.output-text {
				display: block;
				width: 33%;
				margin: 20px auto;
			}
		</style>
	</head>
	<body>
		<h1>Caesar Cipher Encryptor</h1>
		<form>
			<label for='words'>Enter your Secret Message</label>
			<textarea name='words' cols='50' rows='10'></textarea>
			<label for='cipher_number'>Alphabet Shift</label>
			<input name='cipher_number' type='number' min='1'/>
			<input value='Encrypt' type='submit' />
		</form>
		<div class='output-text'>
			<p><%= encrypted_text %></p>
		</div>
	</body>
</html>
